@charset "UTF-8";

* {

    margin: 0;
    padding: 0;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;

}

body {

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    align-content: center;
    text-align: center;

    width: calc(100vw - 6px);
    height: calc(100vh - 6px);

    background-color: rgba(84, 121, 189, 0.877);
    
    border: 3px solid white;

}

header {

    top: 0;
    margin: auto;

    font-size: 4em;

    color: white;

    text-shadow: 1px 1px #121212;

}

section {

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    text-align: center;

    width: calc(320px + 32vw);
    height: calc(320px + 32vh);

    background-color: #f1f1f1;

    border-radius: 10px 10px;
    box-shadow: 5px 2px 7px #121212a1;

}

div {

    margin: auto;

}

footer {

    margin: auto;

    font-size: 1em;

    color: white;

    text-shadow: 1px 1px #121212;

}